<div class="wordle-container">
  <h1>Wordelu</h1>
  <p>Guess the 5-letter word!</p>
  <div class="grid">
    <li *ngFor="let guess of guessList; index as i">
      <div class="row">
        <div class="tile" [ngClass]="guessColor(guess.letterMatch[0])">
          {{ guess.guessWord[0] }}
        </div>
        <div class="tile" [ngClass]="guessColor(guess.letterMatch[1])">
          {{ guess.guessWord[1] }}
        </div>
        <div class="tile" [ngClass]="guessColor(guess.letterMatch[2])">
          {{ guess.guessWord[2] }}
        </div>
        <div class="tile" [ngClass]="guessColor(guess.letterMatch[3])">
          {{ guess.guessWord[3] }}
        </div>
        <div class="tile" [ngClass]="guessColor(guess.letterMatch[4])">
          {{ guess.guessWord[4] }}
        </div>
      </div>
    </li>
    <div class="row">
      <input type="text" maxlength="1" class="tile" id="letter1"/>
      <input type="text" maxlength="1" class="tile" id="letter2"/>
      <input type="text" maxlength="1" class="tile" id="letter3"/>
      <input type="text" maxlength="1" class="tile" id="letter4"/>
      <input type="text" maxlength="1" class="tile" id="letter5"/>
    </div>
    <div class="row">
      <p *ngIf="lives >= 0">You have {{ lives }} tries left !</p>
  </div>
  <button *ngIf="lives >= 0" class="submit-btn" (click)="submit()">Submit</button>
</div>